[submodule "packages/framework"]
	path = packages/framework
	url = https://github.com/Barnstorm-Online/barnstorm-framework.git
[submodule "packages/cli"]
	path = packages/cli
	url = https://github.com/Barnstorm-Online/barnstorm-cli.git
[submodule "packages/testing"]
	path = packages/testing
	url = https://github.com/Barnstorm-Online/barnstorm-testing.git
